html
    head
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/error.min.css")
        title= errorname
    body
        br
        br
        br
        div(class="main-errorbox")
            h1 "#{errorname}" he said.

        div(class="error-detail")
            h3
                span Error code #{errorcode}: #{details} &nbsp; &nbsp;
                a(href="/")
                    button(class="back-btn") Home
            hr