html {
    background: #272822;
    color: whitesmoke;
    margin: 0 auto;
    width: 50%;
}

/*Buttons*/
button {
    height: 34px;
    width: 55px;
    color: white;
    background: #272822;
}

button:hover {
    background: ghostwhite;
}

.ok-btn {  
    border-color: springgreen;  
}

.rm-btn {
    display:none;
    border-color: tomato;
}/*Buttons*/

  
/*Checkbox*/

.input {
    height: 34px;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.box {
    outline-color: cadetblue;
}

.link:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

#editor {
    height: 400px;
}

@media screen and (max-device-width: 1024px) {
    html {
        width: 80%;
    }

    #text-editor {
        width: 90%;
    }
}
  